

<section class="content-header">
  <h2>Listando todas as vendas realizadas</h2>
</section>

<section class="content">

<%= render "layouts/callbacks" %>
<div class="col-xs-12">
          <% if @vendas.empty? %>
              <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-warning"></i> Atenção!</h4>
                Ainda não foi feita nenhuma venda!
              </div>  


          <% else %>
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Vendas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

              <table class="table table-hover table-linkable ">
                <tbody><tr>
                  <th>Código</th>


                  <th>Nome da mercadoria</th>
                  <th>Quantidade vendida</th>
                  <th>Preço do produto venda</th>
                  <th>Preço total da venda</th>
                </tr>
                <% @vendas.each do |venda| %>
                  <tr data-href="<%= venda_path(venda) %>">
                    <td><%= venda.id %></td>
                    <td><%= venda.mercadoria.nome %></td>
                    <td><%= venda.quantidade %></td>
                    <td>R$<%= venda.mercadoria.preco %></td>
                    <td>R$<%= venda.preco %></td>
                  </tr>
                <% end %>
              </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <% end %>
                        <%= link_to new_venda_path do %>
              <button class="btn btn-primary">Fazer uma nova venda</button>
              <% end %>
          <!-- /.box -->
        </div>
</section>

